html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

label {
  cursor: pointer;
}

.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 26px;
  width: 176px;
  height: 44px;
  background:#024f94;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 2px solid #024f94;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin: 0 auto; */
}
.mainButton:hover,
.mainButton:focus {
  background: transparent;
  border: 2px solid #024f94;
  border-radius: 5px;
  outline: none;
  color: #024f94;
  box-shadow: 0px 4px 30px rgba(45, 152, 252, 0.5);
}


  .container {
    overflow: hidden;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}
